	*************************************************
	| Name 	: Adegoke Adedayo Adefelu		        |
	| Date 	:  1st June 2025					    |
	| School:  MOAT Academy Lagos Nigeria           |
	| Week 5:  JavaScript Gradesheet Mini Project   |
	|												|
	|												|
	*************************************************

My Project link to be submitted after the app has been pushed:

https://github.com/velveteen2020/gradesheet.git
	